In [14]:
import numpy as np
import pandas as pd
from pandas.api.types import CategoricalDtype
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statistics
import unicodedata
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score,classification_report,confusion_matrix

In [2]:
df = pd.read_csv('train-3.csv')
data = df.copy()
#df_train.head()

/var/folders/bs/x01s4n69311dylwpb3yzhx6w0000gn/T/ipykernel_80138/423559351.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('train-3.csv')

In [3]:
data.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
Credit_Score                 object
dtype: object

In [4]:
data['Occupation'].value_counts()

Occupation
_______          7062
Lawyer           6575
Architect        6355
Engineer         6350
Scientist        6299
Mechanic         6291
Accountant       6271
Developer        6235
Media_Manager    6232
Teacher          6215
Entrepreneur     6174
Doctor           6087
Journalist       6085
Manager          5973
Musician         5911
Writer           5885
Name: count, dtype: int64

In [6]:
data['Type_of_Loan'].value_counts()

Type_of_Loan
Not Specified                                                                                        1408
Credit-Builder Loan                                                                                  1280
Personal Loan                                                                                        1272
Debt Consolidation Loan                                                                              1264
Student Loan                                                                                         1240
                                                                                                     ...
Auto Loan, Payday Loan, Auto Loan, Student Loan, Student Loan, Student Loan, and Home Equity Loan       8
Home Equity Loan, Payday Loan, Not Specified, and Personal Loan                                         8
Home Equity Loan, Auto Loan, Auto Loan, and Auto Loan                                                   8
Payday Loan, Student Loan, Mortgage Loan, and Not Specified                                             8
Student Loan, Not Specified, Auto Loan, Payday Loan, and Student Loan                                   8
Name: count, Length: 6260, dtype: int64

In [7]:
data['Credit_History_Age'].value_counts()

Credit_History_Age
15 Years and 11 Months    446
19 Years and 4 Months     445
19 Years and 5 Months     444
17 Years and 11 Months    443
19 Years and 3 Months     441
                         ...
0 Years and 3 Months       20
0 Years and 2 Months       15
33 Years and 7 Months      14
33 Years and 8 Months      12
0 Years and 1 Months        2
Name: count, Length: 404, dtype: int64

In [8]:
columnas_vacias = data.isna().any(axis=1)
data_limpia = data.loc[columnas_vacias].copy()
data_limpia

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
5,0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172331195294,!@9#%8,340.4792117872438,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99986,0x25fdc,CUS_0x8600,March,NaN,28,031-35-0942,Architect,20002.88,1929.906667,10,...,Bad,3571.7,24.713861,5 Years and 10 Months,Yes,60.964772,76.28279349064607,Low_spent_Small_value_payments,345.743101,Poor
99990,0x25fe0,CUS_0x8600,July,Sarah McBridec,28,031-35-0942,Architect,20002.88,1929.906667,10,...,Bad,3571.7,25.123535,NaN,Yes,60.964772,173.2755025599617,Low_spent_Large_value_payments,228.750392,Standard
99992,0x25fe6,CUS_0x942c,January,Nicks,24,078-73-5990,Mechanic,39628.99,3359.415833,4,...,_,502.38,32.991333,31 Years and 3 Months,No,35.104023,401.1964806036356,Low_spent_Small_value_payments,189.64108,Poor
99993,0x25fe7,CUS_0x942c,February,Nicks,25,078-73-5990,Mechanic,39628.99_,3359.415833,4,...,Good,502.38,29.135447,31 Years and 4 Months,No,58638.000000,180.7330951944497,Low_spent_Medium_value_payments,400.104466,Standard
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard

In [9]:
col_no_sirven = ['ID', 'Name','SSN', 'Month']
data_limpia= data_limpia.drop(columns=col_no_sirven)
data_limpia

,Customer_ID,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
1,CUS_0xd40,23,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,CUS_0xd40,-500,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,CUS_0xd40,23,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,CUS_0xd40,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
5,CUS_0xd40,23,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172331195294,!@9#%8,340.4792117872438,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99986,CUS_0x8600,28,Architect,20002.88,1929.906667,10,8,29,5,"Personal Loan, Auto Loan, Mortgage Loan, Stude...",...,Bad,3571.7,24.713861,5 Years and 10 Months,Yes,60.964772,76.28279349064607,Low_spent_Small_value_payments,345.743101,Poor
99990,CUS_0x8600,28,Architect,20002.88,1929.906667,10,8,29,5,"Personal Loan, Auto Loan, Mortgage Loan, Stude...",...,Bad,3571.7,25.123535,NaN,Yes,60.964772,173.2755025599617,Low_spent_Large_value_payments,228.750392,Standard
99992,CUS_0x942c,24,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",...,_,502.38,32.991333,31 Years and 3 Months,No,35.104023,401.1964806036356,Low_spent_Small_value_payments,189.64108,Poor
99993,CUS_0x942c,25,Mechanic,39628.99_,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",...,Good,502.38,29.135447,31 Years and 4 Months,No,58638.000000,180.7330951944497,Low_spent_Medium_value_payments,400.104466,Standard
99998,CUS_0x942c,25,Mechanic,39628.99,3359.415833,4,6,7,2,"Auto Loan, and Student Loan",...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard

In [10]:
data_limpia['Age'] = pd.to_numeric(data_limpia['Age'], errors='coerce')
data_limpia['Num_Bank_Accounts'] = pd.to_numeric(data_limpia['Num_Bank_Accounts'], errors='coerce')
data_limpia['Num_Credit_Card'] = pd.to_numeric(data_limpia['Num_Credit_Card'], errors='coerce')
data_limpia['Num_of_Loan'] = pd.to_numeric(data_limpia['Num_of_Loan'], errors='coerce') 

edad_min, edad_max = 18, 90
val_min,  val_max  = 1, 30

filas_a_borrar = (
    (data_limpia['Age'].lt(edad_min) | data_limpia['Age'].gt(edad_max)) |
    (data_limpia['Num_Bank_Accounts'].gt(val_max)) |
    (data_limpia['Num_Credit_Card'].gt(val_max)) |
    (data_limpia['Num_of_Loan'].gt(val_max) | data_limpia['Num_of_Loan'].lt(val_min))
)

df_limpia= data_limpia.loc[~filas_a_borrar].copy()
df_limpia

,Customer_ID,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
1,CUS_0xd40,23.0,Scientist,19114.12,NaN,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
3,CUS_0xd40,23.0,Scientist,19114.12,NaN,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,CUS_0xd40,23.0,Scientist,19114.12,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
5,CUS_0xd40,23.0,Scientist,19114.12,NaN,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172331195294,!@9#%8,340.4792117872438,Good
7,CUS_0xd40,23.0,Scientist,19114.12,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,23.933795,NaN,No,49.574949,24.785216509052056,High_spent_Medium_value_payments,358.12416760938714,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99986,CUS_0x8600,28.0,Architect,20002.88,1929.906667,10,8,29,5.0,"Personal Loan, Auto Loan, Mortgage Loan, Stude...",...,Bad,3571.7,24.713861,5 Years and 10 Months,Yes,60.964772,76.28279349064607,Low_spent_Small_value_payments,345.743101,Poor
99990,CUS_0x8600,28.0,Architect,20002.88,1929.906667,10,8,29,5.0,"Personal Loan, Auto Loan, Mortgage Loan, Stude...",...,Bad,3571.7,25.123535,NaN,Yes,60.964772,173.2755025599617,Low_spent_Large_value_payments,228.750392,Standard
99992,CUS_0x942c,24.0,Mechanic,39628.99,3359.415833,4,6,7,2.0,"Auto Loan, and Student Loan",...,_,502.38,32.991333,31 Years and 3 Months,No,35.104023,401.1964806036356,Low_spent_Small_value_payments,189.64108,Poor
99993,CUS_0x942c,25.0,Mechanic,39628.99_,3359.415833,4,6,7,2.0,"Auto Loan, and Student Loan",...,Good,502.38,29.135447,31 Years and 4 Months,No,58638.000000,180.7330951944497,Low_spent_Medium_value_payments,400.104466,Standard
99998,CUS_0x942c,25.0,Mechanic,39628.99,3359.415833,4,6,7,2.0,"Auto Loan, and Student Loan",...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard

In [11]:
df_limpia = df_limpia.drop_duplicates(subset='Customer_ID', keep='last')
df_limpia

,Customer_ID,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
7,CUS_0xd40,23.0,Scientist,19114.12,1824.843333,3,4,3,4.0,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,23.933795,NaN,No,49.574949,24.785216509052056,High_spent_Medium_value_payments,358.12416760938714,Standard
14,CUS_0x21b1,28.0,Teacher,34847.84,NaN,2,4,6,1.0,Credit-Builder Loan,...,Good,605.03,31.131702,27 Years and 1 Months,NM,18.816215,70.10177420755677,High_spent_Medium_value_payments,464.8806778859809,Good
22,CUS_0x2dbc,34.0,Engineer,143162.64,12187.220000,1,5,8,3.0,"Auto Loan, Auto Loan, and Not Specified",...,Good,1303.01,38.068624,18 Years and 3 Months,No,246.992319,263.17416316163934,High_spent_Small_value_payments,968.5555173846187,Standard
30,CUS_0xb891,55.0,Entrepreneur,30689.89,2612.490833,2,5,4,1.0,Not Specified,...,Good,632.46,26.056395,17 Years and 9 Months,No,16.415452,71.28367488286933,Low_spent_Large_value_payments,443.5499567906391,Standard
37,CUS_0x1cdb,21.0,Developer,35547.71,NaN,7,5,5,NaN,NaN,...,Standard,943.86,29.217556,31 Years and 1 Months,Yes,0.000000,37.64363788963997,High_spent_Medium_value_payments,497.6872787770267,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99967,CUS_0x372c,19.0,Lawyer,42903.79,3468.315833,0,4,6,1.0,Not Specified,...,Good,1079.48,35.716618,28 Years and 8 Months,No,34.975457,115.18498444443384,High_spent_Medium_value_payments,446.671142,Good
99975,CUS_0xf16,45.0,Media_Manager,16680.35,NaN,1,1,5,4.0,"Payday Loan, Student Loan, Mortgage Loan, and ...",...,Good,897.16,41.212367,NaN,No,41.113561,70.8055497847255,Low_spent_Large_value_payments,310.883806,Good
99978,CUS_0xaf61,49.0,Writer,37188.1,NaN,1,4,5,3.0,"Home Equity Loan, Mortgage Loan, and Student Loan",...,_,620.64,24.540510,29 Years and 11 Months,No,84.205949,125.95659173463726,Low_spent_Medium_value_payments,379.538292,Good
99990,CUS_0x8600,28.0,Architect,20002.88,1929.906667,10,8,29,5.0,"Personal Loan, Auto Loan, Mortgage Loan, Stude...",...,Bad,3571.7,25.123535,NaN,Yes,60.964772,173.2755025599617,Low_spent_Large_value_payments,228.750392,Standard
99998,CUS_0x942c,25.0,Mechanic,39628.99,3359.415833,4,6,7,2.0,"Auto Loan, and Student Loan",...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard

In [12]:
# Transformar la columna Age en rangos de edades usando binning

rangos_edades = [18, 25, 30, 35, 45, 60, 70, 90]
rangos_labels = ['18-24', '25-29', '30-34', '35-44', '45-59', '60-69', '70-90']
pesos_edades = {
    '18-24': 5,
    '25-29': 10,
    '30-34': 35,
    '35-44': 30,
    '45-59': 10,
    '60-69': 5,
    '70-90': 5
}

def edades(df, drop_original=True, pesos=True):
    datos = df.copy()
    edad = pd.to_numeric(datos['Age'], errors='coerce')
    datos['Rangos_edades'] = pd.cut(
        edad, bins=rangos_edades, labels=rangos_labels, right=False, include_lowest=True
    ).astype('category')

    if pesos:
        datos['Peso_edades'] = datos['Rangos_edades'].map(pesos_edades).astype('Int64')
    
    if drop_original:
        datos = datos.drop(columns=['Age'])

    return datos


datos_edades = edades(df_limpia, drop_original=True, pesos=True)
datos_edades[['Rangos_edades', 'Peso_edades']].head()

   Rangos_edades  Peso_edades
7          18-24            5
14         25-29           10
22         30-34           35
30         45-59           10
37         18-24            5

In [ ]:
# Normalización de todas las columnas que tienen texto

def normalizar_texto (s: pd.Series) -> pd.Series:
    s = s.astype(str).str.strip().str.lower()
    s = s.replace(r'\s+', ' ', regex=True)
    s = s.apply(lambda x: unicodedata.normalize('NFKD', x).encode('ascii', 'ignore').decode('ascii'))
    s = s.str.replace(r"[^a-z0-9 /&-]", "", regex=True)
    s = s.replace({"": pd.NA})

    return s

df_limpia['Occupation'] = normalizar_texto(df_limpia['Occupation'])
df_limpia['Type_of_Loan'] = normalizar_texto(df_limpia['Type_of_Loan'])
df_limpia['Credit_Mix'] = normalizar_texto(df_limpia['Credit_Mix'])
df_limpia['Credit_History_Age'] = normalizar_texto(df_limpia['Credit_History_Age'])
df_limpia['Payment_of_Min_Amount'] = normalizar_texto(df_limpia['Payment_of_Min_Amount'])
df_limpia['Payment_Behaviour'] = normalizar_texto(df_limpia['Payment_Behaviour'])
df_limpia['Credit_Score'] = normalizar_texto(df_limpia['Credit_Score'])

df_limpia

/var/folders/bs/x01s4n69311dylwpb3yzhx6w0000gn/T/ipykernel_80138/2308352604.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_limpia['Occupation'] = normalizar_texto(df_limpia['Occupation'])
/var/folders/bs/x01s4n69311dylwpb3yzhx6w0000gn/T/ipykernel_80138/2308352604.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_limpia['Type_of_Loan'] = normalizar_texto(df_limpia['Type_of_Loan'])
/var/folders/bs/x01s4n69311dylwpb3yzhx6w0000gn/T/ipykernel_80138/2308352604.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_limpia['Credit_Mix'] = normalizar_texto(df_limpia['Credit_Mix'])
/var/folders/bs/x01s4n69311dylwpb3yzhx6w0000gn/T/ipykernel_80138/2308352604.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_limpia['Credit_History_Age'] = normalizar_texto(df_limpia['Credit_History_Age'])
/var/folders/bs/x01s4n69311dylwpb3yzhx6w0000gn/T/ipykernel_80138/2308352604.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_limpia['Payment_of_Min_Amount'] = normalizar_texto(df_limpia['Payment_of_Min_Amount'])
/var/folders/bs/x01s4n69311dylwpb3yzhx6w0000gn/T/ipykernel_80138/2308352604.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_limpia['Payment_Behaviour'] = normalizar_texto(df_limpia['Payment_Behaviour'])
/var/folders/bs/x01s4n69311dylwpb3yzhx6w0000gn/T/ipykernel_80138/2308352604.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_limpia['Credit_Score'] = normalizar_texto(df_limpia['Credit_Score'])

,Customer_ID,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
7,CUS_0xd40,23.0,scientist,19114.12,1824.843333,3,4,3,4.0,auto loan credit-builder loan personal loan an...,...,good,809.98,23.933795,nan,no,49.574949,24.785216509052056,highspentmediumvaluepayments,358.12416760938714,standard
14,CUS_0x21b1,28.0,teacher,34847.84,NaN,2,4,6,1.0,credit-builder loan,...,good,605.03,31.131702,27 years and 1 months,nm,18.816215,70.10177420755677,highspentmediumvaluepayments,464.8806778859809,good
22,CUS_0x2dbc,34.0,engineer,143162.64,12187.220000,1,5,8,3.0,auto loan auto loan and not specified,...,good,1303.01,38.068624,18 years and 3 months,no,246.992319,263.17416316163934,highspentsmallvaluepayments,968.5555173846187,standard
30,CUS_0xb891,55.0,entrepreneur,30689.89,2612.490833,2,5,4,1.0,not specified,...,good,632.46,26.056395,17 years and 9 months,no,16.415452,71.28367488286933,lowspentlargevaluepayments,443.5499567906391,standard
37,CUS_0x1cdb,21.0,developer,35547.71,NaN,7,5,5,NaN,nan,...,standard,943.86,29.217556,31 years and 1 months,yes,0.000000,37.64363788963997,highspentmediumvaluepayments,497.6872787770267,standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99967,CUS_0x372c,19.0,lawyer,42903.79,3468.315833,0,4,6,1.0,not specified,...,good,1079.48,35.716618,28 years and 8 months,no,34.975457,115.18498444443384,highspentmediumvaluepayments,446.671142,good
99975,CUS_0xf16,45.0,mediamanager,16680.35,NaN,1,1,5,4.0,payday loan student loan mortgage loan and not...,...,good,897.16,41.212367,nan,no,41.113561,70.8055497847255,lowspentlargevaluepayments,310.883806,good
99978,CUS_0xaf61,49.0,writer,37188.1,NaN,1,4,5,3.0,home equity loan mortgage loan and student loan,...,<NA>,620.64,24.540510,29 years and 11 months,no,84.205949,125.95659173463726,lowspentmediumvaluepayments,379.538292,good
99990,CUS_0x8600,28.0,architect,20002.88,1929.906667,10,8,29,5.0,personal loan auto loan mortgage loan student ...,...,bad,3571.7,25.123535,nan,yes,60.964772,173.2755025599617,lowspentlargevaluepayments,228.750392,standard
99998,CUS_0x942c,25.0,mechanic,39628.99,3359.415833,4,6,7,2.0,auto loan and student loan,...,good,502.38,33.638208,31 years and 9 months,no,35.104023,251.67258219721603,lowspentlargevaluepayments,319.164979,standard

In [16]:
#Separar el dataset en train y test
t = 'Credit_Score'

orden = CategoricalDtype(categories=['poor', 'standard', 'good'], ordered=True)
df_limpia[t] = (df_limpia[t]
                .astype(str).str.strip().str.lower()
                .astype(orden))

y = df_limpia[t]
x = df_limpia.drop(columns=[t])

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.20, stratify=y, random_state=40)

/var/folders/bs/x01s4n69311dylwpb3yzhx6w0000gn/T/ipykernel_80138/2642707283.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_limpia[t] = (df_limpia[t]

In [20]:
#  Aplicamos OneHoteEncode para la columna de Occupation

if 'Occupation' in x_train.columns: col_occupation = 'Occupation'
x_train[col_occupation] = x_train[col_occupation].astype('string').fillna('missing')
x_test[col_occupation] = x_test[col_occupation].astype('string').fillna('missing')

one_hot_occ = OneHotEncoder(handle_unknown='ignore', dtype='int8', sparse_output=False)
one_hot_occ.fit(x_train[[col_occupation]])

occupation_train = pd.DataFrame(
    one_hot_occ.transform(x_train[[col_occupation]]),
    columns=one_hot_occ.get_feature_names_out([col_occupation]),
    index=x_train.index
)

occupation_test = pd.DataFrame(
    one_hot_occ.transform(x_test[[col_occupation]]),
    columns=one_hot_occ.get_feature_names_out([col_occupation]),
    index=x_test.index
)

x_train = pd.concat([x_train.drop(columns=[col_occupation]), occupation_train], axis=1)
x_test = pd.concat([x_test.drop(columns=[col_occupation]), occupation_test], axis=1)

In [21]:
df_limpia['Annual_Income'].value_counts()

Annual_Income
95596.35     2
22434.16_    2
33029.66     2
20867.67     2
17816.75     2
            ..
107911.6     1
41646.88     1
46268.4      1
33896.53     1
39800.36     1
Name: count, Length: 10639, dtype: int64

In [ ]:
# Ajiste de la columna Anual Income usango binning asigando pesos a cada rango de salarios

income_bins = [5000, 15000, 25000, 45000, 60000, 85000, 100000, 120000, 160000, 200000, np.inf]
income_labels = ['0-15000', '15000-25000', '25000-45000', '45000-60000', '60000-85000', '85000-100000', '100000-120000','120000-160000', '160000-200000', '200000+']
income_pesos = {
    '0-15000': 2,
    '15000-25000': 4,
    '25000-45000': 5,
    '45000-60000': 6,
    '60000-85000': 8,
    '85000-100000': 10,
    '100000-120000': 12,
    '120000-160000': 15,
    '160000-200000': 18,
    '200000+': 20
}