In [1]:
import numpy as np
import pandas as pd
from pandas.api.types import CategoricalDtype
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import statistics
import unicodedata
import re
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score,classification_report,confusion_matrix

In [2]:
df = pd.read_csv('train-3.csv')
data = df.copy()
data.head()

/var/folders/bs/x01s4n69311dylwpb3yzhx6w0000gn/T/ipykernel_7207/2869837583.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('train-3.csv')

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [3]:
col_no_sirven = ['ID', 'Name','SSN', 'Month', 'Occupation', 'Type_of_Loan']
data_limpia= data.drop(columns=col_no_sirven)
data_limpia

,Customer_ID,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,CUS_0xd40,23,19114.12,1824.843333,3,4,3,4,3,7,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,CUS_0xd40,23,19114.12,NaN,3,4,3,4,-1,NaN,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,CUS_0xd40,-500,19114.12,NaN,3,4,3,4,3,7,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,CUS_0xd40,23,19114.12,NaN,3,4,3,4,5,4,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,CUS_0xd40,23,19114.12,1824.843333,3,4,3,4,6,NaN,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,CUS_0x942c,25,39628.99,3359.415833,4,6,7,2,23,7,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,CUS_0x942c,25,39628.99,3359.415833,4,6,7,2,18,7,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,CUS_0x942c,25,39628.99,3359.415833,4,6,5729,2,27,6,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,CUS_0x942c,25,39628.99,3359.415833,4,6,7,2,20,NaN,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,CUS_0x942c,25,39628.99_,3359.415833,4,6,7,2,18,6,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [4]:
data_limpia['Age'] = pd.to_numeric(data_limpia['Age'], errors='coerce')
data_limpia['Num_Bank_Accounts'] = pd.to_numeric(data_limpia['Num_Bank_Accounts'], errors='coerce')
data_limpia['Num_Credit_Card'] = pd.to_numeric(data_limpia['Num_Credit_Card'], errors='coerce')
data_limpia['Num_of_Loan'] = pd.to_numeric(data_limpia['Num_of_Loan'], errors='coerce') 

edad_min, edad_max = 18, 90
val_min,  val_max  = 1, 30

filas_a_borrar = (
    (data_limpia['Age'].lt(edad_min) | data_limpia['Age'].gt(edad_max)) |
    (data_limpia['Num_Bank_Accounts'].gt(val_max)) |
    (data_limpia['Num_Credit_Card'].gt(val_max)) |
    (data_limpia['Num_of_Loan'].gt(val_max) | data_limpia['Num_of_Loan'].lt(val_min))
)

df_limpia= data_limpia.loc[~filas_a_borrar].copy()
df_limpia

,Customer_ID,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,CUS_0xd40,23.0,19114.12,1824.843333,3,4,3,4.0,3,7,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,CUS_0xd40,23.0,19114.12,NaN,3,4,3,4.0,-1,NaN,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
3,CUS_0xd40,23.0,19114.12,NaN,3,4,3,4.0,5,4,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,CUS_0xd40,23.0,19114.12,1824.843333,3,4,3,4.0,6,NaN,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good
5,CUS_0xd40,23.0,19114.12,NaN,3,4,3,4.0,8,4,...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172331195294,!@9#%8,340.4792117872438,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,CUS_0x942c,25.0,39628.99,3359.415833,4,6,7,2.0,23,7,...,_,502.38,34.663572,31 Years and 6 Months,No,35.104023,60.97133255718485,High_spent_Large_value_payments,479.866228,Poor
99996,CUS_0x942c,25.0,39628.99,3359.415833,4,6,7,2.0,18,7,...,_,502.38,40.565631,31 Years and 7 Months,No,35.104023,54.18595028760385,High_spent_Medium_value_payments,496.65161,Poor
99997,CUS_0x942c,25.0,39628.99,3359.415833,4,6,5729,2.0,27,6,...,Good,502.38,41.255522,31 Years and 8 Months,No,35.104023,24.02847744864441,High_spent_Large_value_payments,516.809083,Poor
99998,CUS_0x942c,25.0,39628.99,3359.415833,4,6,7,2.0,20,NaN,...,Good,502.38,33.638208,31 Years and 9 Months,No,35.104023,251.67258219721603,Low_spent_Large_value_payments,319.164979,Standard
99999,CUS_0x942c,25.0,39628.99_,3359.415833,4,6,7,2.0,18,6,...,Good,502.38,34.192463,31 Years and 10 Months,No,35.104023,167.1638651610451,!@9#%8,393.673696,Poor

In [5]:
df_limpia = df_limpia.drop_duplicates(subset='Customer_ID', keep='first')
df_limpia

,Customer_ID,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,CUS_0xd40,23.0,19114.12,1824.843333,3,4,3,4.0,3,7,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
8,CUS_0x21b1,NaN,34847.84,3037.986667,2,4,6,1.0,3,4,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825168246,Low_spent_Small_value_payments,470.69062692529184,Standard
16,CUS_0x2dbc,34.0,143162.64,12187.220000,1,5,8,3.0,5,8,...,Good,1303.01,28.616735,17 Years and 9 Months,No,246.992319,168.413702679309,!@9#%8,1043.3159778669492,Good
24,CUS_0xb891,54.0,30689.89,2612.490833,2,5,4,1.0,0,6,...,Good,632.46,26.544229,17 Years and 3 Months,No,16.415452,81.22885871073616,Low_spent_Large_value_payments,433.6047729627723,Standard
37,CUS_0x1cdb,21.0,35547.71,NaN,7,5,5,NaN,5,15,...,Standard,943.86,29.217556,31 Years and 1 Months,Yes,0.000000,37.64363788963997,High_spent_Medium_value_payments,497.6872787770267,Standard
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99960,CUS_0x372c,18.0,42903.79,3468.315833,0,4,6,1.0,14,0,...,Good,1079.48,27.289440,28 Years and 1 Months,No,50894.000000,78.51494451125625,High_spent_Small_value_payments,493.341182,Good
99968,CUS_0xf16,44.0,16680.35,1528.029167,1,1,5,4.0,4,0,...,Good,897.16,39.868572,NaN,NM,41.113561,52.95197781627658,High_spent_Small_value_payments,318.737378,Good
99976,CUS_0xaf61,49.0,37188.1,3097.008333,1,4,5,3.0,7,12,...,Good,620.64,39.080823,29 Years and 9 Months,No,84.205949,223.87501818278344,Low_spent_Small_value_payments,291.619866,Good
99984,CUS_0x8600,28.0,20002.88,1929.906667,10,8,29,NaN,35,26,...,Bad,3571.7_,22.895966,5 Years and 8 Months,Yes,60.964772,43.37067007268804,High_spent_Large_value_payments,328.655224,Poor
99992,CUS_0x942c,24.0,39628.99,3359.415833,4,6,7,2.0,23,NaN,...,_,502.38,32.991333,31 Years and 3 Months,No,35.104023,401.1964806036356,Low_spent_Small_value_payments,189.64108,Poor

In [6]:
# Transformar la columna Age en rangos de edades usando binning

rangos_edades = [18, 25, 30, 35, 45, 60, 70, 90]
rangos_labels = ['18-24', '25-29', '30-34', '35-44', '45-59', '60-69', '70-90']
pesos_edades = {
    '18-24': 5,
    '25-29': 15,
    '30-34': 30,
    '35-44': 25,
    '45-59': 18,
    '60-69': 5,
    '70-90': 2
}

def edades(df, drop_original=True, pesos=True):
    datos = df.copy()
    edad = pd.to_numeric(datos['Age'], errors='coerce')
    datos['Rangos_edades'] = pd.cut(
        edad, bins=rangos_edades, labels=rangos_labels, right=False, include_lowest=True
    ).astype('category')

    if pesos:
        datos['Peso_edades'] = datos['Rangos_edades'].map(pesos_edades).astype('Int64')
    
    if drop_original:
        datos = datos.drop(columns=['Age'])

    return datos


df_limpia = edades(df_limpia, drop_original=True, pesos=True)

In [7]:
# NormalizaciÃ³n de todas las columnas que tienen texto

def normalizar_texto (s: pd.Series) -> pd.Series:
    s = s.astype(str).str.strip().str.lower()
    s = s.replace(r'\s+', ' ', regex=True)
    s = s.apply(lambda x: unicodedata.normalize('NFKD', x).encode('ascii', 'ignore').decode('ascii'))
    s = s.str.replace(r"[^a-z0-9 /&-]", "", regex=True)
    s = s.replace({"": pd.NA})

    return s

df_limpia['Credit_Mix'] = normalizar_texto(df_limpia['Credit_Mix'])
df_limpia['Credit_History_Age'] = normalizar_texto(df_limpia['Credit_History_Age'])
df_limpia['Payment_of_Min_Amount'] = normalizar_texto(df_limpia['Payment_of_Min_Amount'])
df_limpia['Payment_Behaviour'] = normalizar_texto(df_limpia['Payment_Behaviour'])
df_limpia['Credit_Score'] = normalizar_texto(df_limpia['Credit_Score'])

df_limpia

,Customer_ID,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,...,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,Rangos_edades,Peso_edades
0,CUS_0xd40,19114.12,1824.843333,3,4,3,4.0,3,7,11.27,...,26.822620,22 years and 1 months,no,49.574949,80.41529543900253,highspentsmallvaluepayments,312.49408867943663,good,18-24,5
8,CUS_0x21b1,34847.84,3037.986667,2,4,6,1.0,3,4,5.42,...,24.464031,26 years and 7 months,no,18.816215,104.291825168246,lowspentsmallvaluepayments,470.69062692529184,standard,NaN,<NA>
16,CUS_0x2dbc,143162.64,12187.220000,1,5,8,3.0,5,8,7.1,...,28.616735,17 years and 9 months,no,246.992319,168.413702679309,98,1043.3159778669492,good,30-34,30
24,CUS_0xb891,30689.89,2612.490833,2,5,4,1.0,0,6,1.99,...,26.544229,17 years and 3 months,no,16.415452,81.22885871073616,lowspentlargevaluepayments,433.6047729627723,standard,45-59,18
37,CUS_0x1cdb,35547.71,NaN,7,5,5,NaN,5,15,2.58,...,29.217556,31 years and 1 months,yes,0.000000,37.64363788963997,highspentmediumvaluepayments,497.6872787770267,standard,18-24,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99960,CUS_0x372c,42903.79,3468.315833,0,4,6,1.0,14,0,4.1,...,27.289440,28 years and 1 months,no,50894.000000,78.51494451125625,highspentsmallvaluepayments,493.341182,good,18-24,5
99968,CUS_0xf16,16680.35,1528.029167,1,1,5,4.0,4,0,5.69,...,39.868572,nan,nm,41.113561,52.95197781627658,highspentsmallvaluepayments,318.737378,good,35-44,25
99976,CUS_0xaf61,37188.1,3097.008333,1,4,5,3.0,7,12,5.38,...,39.080823,29 years and 9 months,no,84.205949,223.87501818278344,lowspentsmallvaluepayments,291.619866,good,45-59,18
99984,CUS_0x8600,20002.88,1929.906667,10,8,29,NaN,35,26,18.31,...,22.895966,5 years and 8 months,yes,60.964772,43.37067007268804,highspentlargevaluepayments,328.655224,poor,25-29,15
99992,CUS_0x942c,39628.99,3359.415833,4,6,7,2.0,23,NaN,9.5,...,32.991333,31 years and 3 months,no,35.104023,401.1964806036356,lowspentsmallvaluepayments,189.64108,poor,18-24,5

In [8]:
#Separar el dataset en train y test
t = 'Credit_Score'

orden = CategoricalDtype(categories=['poor', 'standard', 'good'], ordered=True)
df_limpia[t] = (df_limpia[t]
                .astype(str).str.strip().str.lower()
                .astype(orden))

y = df_limpia[t]
x = df_limpia.drop(columns=[t])

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.20, stratify=y, random_state=40)

In [9]:
# Ajiste de la columna Anual Income usango binning asigando pesos a cada rango de salarios

income_bins = [5000, 15000, 25000, 45000, 60000, 85000, 100000, 120000, 160000, 200000, np.inf]
income_labels = ['0-15000', '15000-25000', '25000-45000', '45000-60000', '60000-85000', '85000-100000', '100000-120000','120000-160000', '160000-200000', '200000+']
income_pesos = {
    '0-15000': 1,
    '15000-25000': 5,
    '25000-45000': 10,
    '45000-60000': 15,
    '60000-85000': 25,
    '85000-100000': 30,
    '100000-120000': 35,
    '120000-160000': 40,
    '160000-200000': 45,
    '200000+': 50
}    


def ingresos(df, col='Annual_Income', drop_original=False, add_weight=True):
    out = df.copy()
    s = out[col].astype(str).str.replace(r'[^\d\.-]','', regex=True)
    s = pd.to_numeric(s, errors='coerce')
    
    out['Annual_Income_Bin'] = pd.cut(
        s, bins = income_bins, labels = income_labels,
        right = False, include_lowest=True
    ).astype('category')

    out['Annual_Income_Bin'] = out['Annual_Income_Bin'].cat.add_categories(['Missing'])
    out.loc[s.isna(), 'Annual_Income_Bin'] = 'Missing'

    if add_weight:
        out['Income_pesos'] = out['Annual_Income_Bin'].map(income_pesos).astype('Int64')
        out.loc[out['Annual_Income_Bin'].eq('Missing'), 'Income_pesos'] = pd.NA

    if drop_original:
        out = out.drop(columns=[col])

    return out

In [10]:
x_train = ingresos(x_train, col='Annual_Income', drop_original=False, add_weight=True)
x_test  = ingresos(x_test,  col='Annual_Income', drop_original=False, add_weight=True)

In [11]:
# Ahora con la columna de salarios mensuales haremos lo mismo, usaremos binning poniendo por rangos y asignando un peso a cada rango

salario_bins = [600, 1250, 2500, 3500, 5000, 8000, 10000, 15000, np.inf ]
salario_labels = ['600-1250', '1250-2500', '2500-3500', '3500-5000','5000-8000', '8000-10000', '10000-15000', '15000+']
salario_pesos = {
    '600-1250': 5,
    '1250-2500': 15,
    '2500-3500': 20,
    '3500-5000': 25,
    '5000-8000': 30,
    '8000-10000': 35,
    '10000-15000': 45,
    '15000+': 50
}

def salarios_a_numeros(s:pd.Series,):
    s = s.astype(str).str.strip()
    s = s.str.replace(r"[^\d,.\-]", "", regex=True)
    b = s.str.contains(",") & s.str.contains(r"\.")
    s = s.where(~b, s.str.replace(",", "", regex=False))
    c = s.str.contains(",") & ~s.str.contains(r"\.")
    s = s.where(~c, s.str.replace(",","", regex=False))
    out = pd.to_numeric(s, errors='coerce')
    out = out.mask(out < 0)

    return out

def salarios(df, col='Monthly_Inhand_Salary', drop_original=False, add_weight=True, keep_numeric=True):
    out = df.copy()
    s = salarios_a_numeros(out[col])

    if keep_numeric:
        out[col + '_num'] = s

    out['Monthly_Inhand_Salary_Bin'] = pd.cut(
        s, bins = salario_bins, labels = salario_labels,
        right=False, include_lowest=True
    ).astype('category')

    out['Monthly_Inhand_Salary_Bin'] = out['Monthly_Inhand_Salary_Bin'].cat.add_categories(['Missing'])
    out.loc[s.isna(), 'Monthly_Inhand_Salary_Bin'] = 'Missing'

    if add_weight:
        out['Monthly_Inhand_Salary_Pesos'] = out['Monthly_Inhand_Salary_Bin'].map(salario_pesos).astype('Int64')
        out.loc[out['Monthly_Inhand_Salary_Bin'].eq('Missing'), 'Monthly_Inhand_Salary_Pesos'] = pd.NA

    if drop_original:
        out = out.drop(columns=[col])

    return out

In [12]:
x_train = salarios(x_train, col='Monthly_Inhand_Salary', drop_original=False, add_weight=True, keep_numeric=True)
x_test = salarios(x_test, col='Monthly_Inhand_Salary', drop_original=False, add_weight=True, keep_numeric=True)

In [13]:
cuentas_bancos_bins = [0, 1, 3, 5, 7, 9, 10, np.inf]
cuentas_bancos_labels = ['0','1', '2', '3-5', '6-7', '8-9', '10+']
cuentas_bancos_pesos = {
    '0-1': 2,
    '1': 20,
    '2': 30,
    '3-5': 40,
    '6-7': 25,
    '8-9': 2,
    '10+': 0
}

def bancos_cuentas(df, col='Num_Bank_Accounts', drop_original=False, add_weight=True, keep_numeric=True):
    out = df.copy()
    s = pd.to_numeric(out[col], errors='coerce').mask(lambda x: x < 0)

    if keep_numeric:
        out[col + '_num'] = s.round().astype('Int64')

    out['Num_Bank_Accounts_Bin'] = pd.cut(
        s, bins=cuentas_bancos_bins, labels=cuentas_bancos_labels,
        right=False, include_lowest=True
    ).astype('category')

    out['Num_Bank_Accounts_Bin'] = out['Num_Bank_Accounts_Bin'].cat.add_categories(['Missing'])
    out.loc[s.isna(), 'Num_Bank_Accounts_Bin'] = 'Missing'

    if add_weight:
        out['Num_Bank_Accounts_Pesos'] = out['Num_Bank_Accounts_Bin'].map(cuentas_bancos_pesos).astype('Int64')
        out.loc[out['Num_Bank_Accounts_Bin'].eq('Missing'), 'Num_Bank_Accounts_Pesos'] = pd.NA

    if drop_original:
        out = out.drop(columns=[col])
    
    return out

In [14]:
x_train = bancos_cuentas(x_train)
x_test = bancos_cuentas(x_test)

In [15]:
tarjetas_credito_bins = [0, 1, 3, 5, 8, 10, 15, np.inf]
tarjetas_credito_labels = ['0','1-2', '3-5', '6-8', '9-10', '10-15', '15+']
tarjetas_credito_pesos = {
    '0': 5,
    '1-2': 35,
    '3-5': 40,
    '6-8': 15,
    '9-10': 5,
    '10-15': 1,
    '15+': 0
}

def tarjetas_credito(df, col='Num_Credit_Card', drop_original=False, add_weight=True, keep_numeric=True):
    out = df.copy()
    s = pd.to_numeric(out[col], errors='coerce').mask(lambda x: x < 0)

    if keep_numeric:
        out[col + '_num'] = s.round().astype('Int64')

    out['Num_Credit_Card_Bin'] = pd.cut(
        s, bins=tarjetas_credito_bins, labels=tarjetas_credito_labels,
        right=False, include_lowest=True
    ).astype('category')

    out['Num_Credit_Card_Bin'] = out['Num_Credit_Card_Bin'].cat.add_categories(['Missing'])
    out.loc[s.isna(), 'Num_Credit_Card_Bin'] = 'Missing'

    if add_weight:
        out['Num_Credit_Card_Pesos'] = out['Num_Credit_Card_Bin'].map(tarjetas_credito_pesos).astype('Int64')
        out.loc[out['Num_Credit_Card_Bin'].eq('Missing'), 'Num_Credit_Card_Pesos'] = pd.NA

    if drop_original:
        out = out.drop(columns=[col])
    
    return out

In [16]:
x_train = tarjetas_credito(x_train)
x_test = tarjetas_credito(x_test)

In [17]:
interest_rate_bins = [0, 1, 3, 6, 9, 12, 15, 18, np.inf]
interest_rate_labels = ['0-1','2-3', '4-6', '7-9', '10-12', '13-15','16-18', '18+']
interes_rate_pesos = {
    '0-1': 15,
    '2-3': 14,
    '4-6': 12,
    '7-9': 10,
    '10-12': 8,
    '13-15': 4,
    '16-18': 1,
    '18+': 0
}

def interest_rate(df, col='Interest_Rate', drop_original=False, add_weight=True, keep_numeric=True):
    out = df.copy()
    s = pd.to_numeric(out[col], errors='coerce').mask(lambda x: x < 0)

    if keep_numeric:
        out[col + '_num'] = s.round().astype('Int64')

    out['Interest_Rate_Bin'] = pd.cut(
        s, bins=interest_rate_bins, labels=interest_rate_labels,
        right=False, include_lowest=True
    ).astype('category')

    out['Interest_Rate_Bin'] = out['Interest_Rate_Bin'].cat.add_categories(['Missing'])
    out.loc[s.isna(), 'Interest_Rate_Bin'] = 'Missing'

    if add_weight:
        out['Interest_Rate_Pesos'] = out['Interest_Rate_Bin'].map(interes_rate_pesos).astype('Int64')
        out.loc[out['Interest_Rate_Bin'].eq('Missing'), 'Interest_Rate_Pesos'] = pd.NA

    if drop_original:
        out = out.drop(columns=[col])
    
    return out

In [18]:
x_train = interest_rate(x_train)
x_test = interest_rate(x_test)

In [19]:
num_of_loan_bins = [0, 1, 3, 6, 8, 10, np.inf]
num_of_loan_labels = ['0','1-3', '4-6', '7-8', '9-10', '10+']
num_of_loan_pesos = {
    '0': 5,
    '1-3': 50,
    '4-6': 35,
    '7-8': 20,
    '9-10': 5,
    '10+': 0
}

def deudas(df, col='Num_of_Loan', drop_original=False, add_weight=True, keep_numeric=True):
    out = df.copy()
    s = pd.to_numeric(out[col], errors='coerce').mask(lambda x: x < 0)

    if keep_numeric:
        out[col + '_num'] = s.round().astype('Int64')

    out['Num_of_Loan_Bin'] = pd.cut(
        s, bins=num_of_loan_bins, labels=num_of_loan_labels,
        right=False, include_lowest=True
    ).astype('category')

    out['Num_of_Loan_Bin'] = out['Num_of_Loan_Bin'].cat.add_categories(['Missing'])
    out.loc[s.isna(), 'Num_of_Loan_Bin'] = 'Missing'

    if add_weight:
        out['Num_of_Loan_Pesos'] = out['Num_of_Loan_Bin'].map(num_of_loan_pesos).astype('Int64')
        out.loc[out['Num_of_Loan_Bin'].eq('Missing'), 'Num_of_Loan_Pesos'] = pd.NA

    if drop_original:
        out = out.drop(columns=[col])
    
    return out

In [20]:
x_train = deudas(x_train)
x_test = deudas(x_test)

In [21]:
dias_retraso_bins = [0, 1, 3, 7, 10, 15, 25, 35, np.inf]
dias_retraso_labels = ['0','1-3', '4-7', '8-10', '11-15', '16-25', '26-35', '35+']
dias_retraso_pesos = {
    '0': 50,
    '1-3': 45,
    '4-7': 40,
    '8-10': 30,
    '11-15': 20,
    '16-25': 10,
    '26-35': 5,
    '35+': 0
}

def dias_retraso(df, col='Delay_from_due_date', drop_original=False, add_weight=True, keep_numeric=True):
    out = df.copy()
    s = pd.to_numeric(out[col], errors='coerce').mask(lambda x: x < 0)

    if keep_numeric:
        out[col + '_num'] = s.round().astype('Int64')

    out['Delay_from_due_date_Bin'] = pd.cut(
        s, bins=dias_retraso_bins, labels=dias_retraso_labels,
        right=False, include_lowest=True
    ).astype('category')

    out['Delay_from_due_date_Bin'] = out['Delay_from_due_date_Bin'].cat.add_categories(['Missing'])
    out.loc[s.isna(), 'Delay_from_due_date_Bin'] = 'Missing'

    if add_weight:
        out['Delay_from_due_date_Pesos'] = out['Delay_from_due_date_Bin'].map(dias_retraso_pesos).astype('Int64')
        out.loc[out['Delay_from_due_date_Bin'].eq('Missing'), 'Delay_from_due_date_Pesos'] = pd.NA

    if drop_original:
        out = out.drop(columns=[col])
    
    return out

In [22]:
x_train = dias_retraso(x_train)
x_test = dias_retraso(x_test)

In [23]:
pagos_retrasados_bin = [0, 1, 3, 7, 10, 15, np.inf]
pagos_retrasados_labels = ['0','1-3', '4-7', '8-10', '11-15', '15+']
pagos_retrasados_pesos = {
    '0': 50,
    '1-3': 40,
    '4-7': 30,
    '8-10': 10,
    '11-15': 5,
    '15+': 0,
}

def pagos_retrasados(df, col='Num_of_Delayed_Payment', drop_original=False, add_weight=True, keep_numeric=True):
    out = df.copy()
    s = pd.to_numeric(out[col], errors='coerce').mask(lambda x: x < 0)

    if keep_numeric:
        out[col + '_num'] = s.round().astype('Int64')

    out['Num_of_Delayed_Payment_Bin'] = pd.cut(
        s, bins=pagos_retrasados_bin, labels=pagos_retrasados_labels,
        right=False, include_lowest=True
    ).astype('category')

    out['Num_of_Delayed_Payment_Bin'] = out['Num_of_Delayed_Payment_Bin'].cat.add_categories(['Missing'])
    out.loc[s.isna(), 'Num_of_Delayed_Payment_Bin'] = 'Missing'

    if add_weight:
        out['Num_of_Delayed_Payment_Pesos'] = out['Num_of_Delayed_Payment_Bin'].map(pagos_retrasados_pesos).astype('Int64')
        out.loc[out['Num_of_Delayed_Payment_Bin'].eq('Missing'), 'Num_of_Delayed_Payment_Pesos'] = pd.NA

    if drop_original:
        out = out.drop(columns=[col])
    
    return out

In [24]:
x_train = pagos_retrasados(x_train)
x_test = pagos_retrasados(x_test)

In [25]:
cambios_limite_credito_bins = [0, 1, 3, 6, 10, 15, 20, np.inf]
cambios_limite_credito_labels = ['0','1-3', '4-6', '7-10', '11-15', '16-20', '20+']
cambios_limites_creditos_pesos = {
    '0': 0,
    '1-3': 4,
    '4-6': 10,
    '7-10': 12,
    '11-15': 20,
    '16-20': 22,
    '20+': 25
}

def cambios_limite_credito(df, col='Changed_Credit_Limit', drop_original=False, add_weight=True, keep_numeric=True):
    out = df.copy()
    s = pd.to_numeric(out[col], errors='coerce').mask(lambda x: x < 0)

    if keep_numeric:
        out[col + '_num'] = s.round().astype('Int64')

    out['Changed_Credit_Limit_Bin'] = pd.cut(
        s, bins=cambios_limite_credito_bins, labels=cambios_limite_credito_labels,
        right=False, include_lowest=True
    ).astype('category')

    out['Changed_Credit_Limit_Bin'] = out['Changed_Credit_Limit_Bin'].cat.add_categories(['Missing'])
    out.loc[s.isna(), 'Changed_Credit_Limit_Bin'] = 'Missing'

    if add_weight:
        out['Changed_Credit_Limit_Pesos'] = out['Changed_Credit_Limit_Bin'].map(cambios_limites_creditos_pesos).astype('Int64')
        out.loc[out['Changed_Credit_Limit_Bin'].eq('Missing'), 'Changed_Credit_Limit_Pesos'] = pd.NA

    if drop_original:
        out = out.drop(columns=[col])
    
    return out

In [26]:
x_train = cambios_limite_credito(x_train)
x_test = cambios_limite_credito(x_test)

In [27]:
revision_credito_bins = [0, 1, 3, 6, 10, 15, 20, np.inf]
revision_credito_labels = ['0','1-3', '4-6', '7-10', '11-15', '16-20', '20+']
revision_creditos_pesos = {
    '0': 10,
    '1-3': 20,
    '4-6': 16,
    '7-10': 14,
    '11-15': 5,
    '16-20': 2,
    '20+': 0
}

def revision_credito(df, col='Num_Credit_Inquiries', drop_original=False, add_weight=True, keep_numeric=True):
    out = df.copy()
    s = pd.to_numeric(out[col], errors='coerce').mask(lambda x: x < 0)

    if keep_numeric:
        out[col + '_num'] = s.round().astype('Int64')

    out['Num_Credit_Inquiries_Bin'] = pd.cut(
        s, bins=revision_credito_bins, labels=revision_credito_labels,
        right=False, include_lowest=True
    ).astype('category')

    out['Num_Credit_Inquiries_Bin'] = out['Num_Credit_Inquiries_Bin'].cat.add_categories(['Missing'])
    out.loc[s.isna(), 'Num_Credit_Inquiries_Bin'] = 'Missing'

    if add_weight:
        out['Num_Credit_Inquiries_Pesos'] = out['Num_Credit_Inquiries_Bin'].map(revision_creditos_pesos).astype('Int64')
        out.loc[out['Num_Credit_Inquiries_Bin'].eq('Missing'), 'Num_Credit_Inquiries_Pesos'] = pd.NA

    if drop_original:
        out = out.drop(columns=[col])
    
    return out

In [28]:
x_train = revision_credito(x_train)
x_test = revision_credito(x_test)

In [29]:
orden_credit_mix = ['bad', 'standard', 'good', 'missing']
pesos_credit_mix = {
    'bad': 5,
    'standard': 10,
    'good': 20,
    'missing': 0
}

def credit_mix(df, col='Credit_Mix', drop_original=False, add_weight=True):
    out = df.copy()
    s = out[col].astype('string').str.strip().str.lower()
    s = s.replace({'': pd.NA, '_': pd.NA})

    out['Credit_Mix_Bin'] = pd.Categorical(
        s.fillna('missing'), categories=orden_credit_mix, ordered=True
    )
    if add_weight:
        out['Credit_Mix_Pesos'] = out['Credit_Mix_Bin'].map(pesos_credit_mix).astype('Int64')

    if drop_original:
        out = out.drop(columns=[col])

    return out

In [30]:
x_train = credit_mix(x_train, col='Credit_Mix', drop_original=False, add_weight=True)
x_test = credit_mix(x_test, col='Credit_Mix', drop_original=False, add_weight=True)

In [31]:
deuda_bins = [0, 1, 250, 600, 1000, 1500, 2500, 3000, 5000, np.inf]
deuda_labels = ['0','1-250', '251-600', '601-1000', '1001-1500', '1501-2500', '2501-3000', '3001-5000', '5001+']
deuda_pesos = {
    '0': 5,
    '1-250': 10,
    '251-600': 20,
    '601-1000': 30,
    '1001-1500': 25,
    '1501-2500': 20,
    '2501-3000': 10,
    '3001-5000':5,
    '5001+': 1
}

def deuda_dinero(df, col='Outstanding_Debt', drop_original=False, add_weight=True, keep_numeric=True):
    out = df.copy()
    s = pd.to_numeric(out[col], errors='coerce').mask(lambda x: x < 0)

    if keep_numeric:
        out[col + '_num'] = s.round().astype('Int64')

    out['Outstanding_Debt_Bin'] = pd.cut(
        s, bins=deuda_bins, labels=deuda_labels,
        right=False, include_lowest=True
    ).astype('category')

    out['Outstanding_Debt_Bin'] = out['Outstanding_Debt_Bin'].cat.add_categories(['Missing'])
    out.loc[s.isna(), 'Outstanding_Debt_Bin'] = 'Missing'

    if add_weight:
        out['Outstanding_Debt_Pesos'] = out['Outstanding_Debt_Bin'].map(deuda_pesos).astype('Int64')
        out.loc[out['Outstanding_Debt_Bin'].eq('Missing'), 'Outstanding_Debt_Pesos'] = pd.NA

    if drop_original:
        out = out.drop(columns=[col])
    
    return out

In [32]:
x_train = deuda_dinero(x_train)
x_test = deuda_dinero(x_test)

In [33]:
ratio_credit_bins = [0, 15, 20, 30, 45, 60, np.inf]
ratio_credit_labels = ['0-15','16-20', '21-30', '31-45', '46-60', '60+']
ratio_credit_pesos = {
    '0-15': 4,
    '16-20': 5,
    '21-30': 8,
    '31-45': 6,
    '46-60': 5,
    '60+': 2
}

def ratio_credito(df, col='Credit_Utilization_Ratio', drop_original=False, add_weight=True, keep_numeric=True):
    out = df.copy()
    s = pd.to_numeric(out[col], errors='coerce').mask(lambda x: x < 0)

    if keep_numeric:
        out[col + '_num'] = s.round().astype('Int64')

    out['Credit_Utilization_Ratio_Bin'] = pd.cut(
        s, bins=ratio_credit_bins, labels=ratio_credit_labels,
        right=False, include_lowest=True
    ).astype('category')

    out['Credit_Utilization_Ratio_Bin'] = out['Credit_Utilization_Ratio_Bin'].cat.add_categories(['Missing'])
    out.loc[s.isna(), 'Credit_Utilization_Ratio_Bin'] = 'Missing'

    if add_weight:
        out['Credit_Utilization_Ratio_Pesos'] = out['Credit_Utilization_Ratio_Bin'].map(ratio_credit_pesos).astype('Int64')
        out.loc[out['Credit_Utilization_Ratio_Bin'].eq('Missing'), 'Credit_Utilization_Ratio_Pesos'] = pd.NA

    if drop_original:
        out = out.drop(columns=[col])
    
    return out

In [34]:
x_train = ratio_credito(x_train)
x_test = ratio_credito(x_test)

In [35]:
def age_credito_a_meses(s: pd.Series):
    def parse(x):
        if pd.isna(x):
            return np.nan
        t = str(x).strip().lower()
        if t in {'na', 'nan', '', 'none'}:
            return np.nan
        
        y = re.search(r'(\d+)\s*year', t)
        m = re.search(r'(\d+)\s*month', t)
        yy = int(y.group(1)) if y else 0
        mm = int(m.group(1)) if m else 0

        return yy * 12 + mm
    return s.apply(parse).astype('float')


meses_hist_crediticio_bins = [0, 6, 12, 36, 72, 90, 140, np.inf]
meses_hist_crediticio_labels = ['0-6','7-12', '13-36', '37-72', '73-90', '91-110', '141+']
meses_hist_crediticio_pesos = {
    '0-6': 5,
    '7-12': 20,
    '13-36': 25,
    '37-72': 30,
    '73-90': 35,
    '91-140': 40,
    '141+': 45
}

def hist_crediticio(df, col='Credit_History_Age', drop_original=False, add_weight=True, keep_numeric=True):
    out = df.copy()

    meses = age_credito_a_meses(out[col])

    if keep_numeric:
        out['Credit_History_Age_meses'] = meses.astype('Int64')
        out['Credit_History_Age_aÃ±os'] = (meses/12).round(1)

    out['Credit_History_Age_Bin'] = pd.cut(
        meses, bins=meses_hist_crediticio_bins, labels=meses_hist_crediticio_labels,
        right=False, include_lowest=True
    ).astype('category')

    out['Credit_History_Age_Bin'] = out['Credit_History_Age_Bin'].cat.add_categories(['Missing'])
    out.loc[meses.isna(), 'Credit_History_Age_Bin'] = 'Missing'

    if add_weight:
        out['Credit_History_Age_Pesos'] = out['Credit_History_Age_Bin'].map(meses_hist_crediticio_pesos).astype('Int64')
        out.loc[out['Credit_History_Age_Bin'].eq('Missing'), 'Credit_History_Age_Pesos'] = pd.NA

    if drop_original:
        out = out.drop(columns=[col])
    
    return out

In [36]:
x_train = hist_crediticio(x_train, col='Credit_History_Age', drop_original=False, add_weight=True, keep_numeric=True)
x_test = hist_crediticio(x_test, col='Credit_History_Age', drop_original=False, add_weight=True, keep_numeric=True)

In [37]:
orden_pago_min = ['no', 'yes', 'missing']
pago_min_peso = {
    'no': 10,
    'yes': 30,
    'missing': pd.NA
}

def pagos_minimos(df, col='Payment_of_Min_Amount', drop_original=False, add_weight=True):
    out = df.copy()
    s = out[col].astype('string').str.strip().str.lower()
    s = s.replace({'':pd.NA, 'na': pd.NA, 'nan': pd.NA, 'none': pd.NA, 'nm': pd.NA})
    out['Payment_of_Min_Amount_B'] = pd.Categorical(s.fillna('missing'),
                                                  categories=orden_pago_min, ordered=True)
    
    if add_weight:
        out['Payment_of_Min_Amount_Pesos'] = out['Payment_of_Min_Amount_B'].map(pago_min_peso).astype('Int64')

    if drop_original:
        out = out.drop(columns=[col])

    return out

In [38]:
x_train = pagos_minimos(x_train, col='Payment_of_Min_Amount', drop_original=False, add_weight=True)
x_test = pagos_minimos(x_test, col='Payment_of_Min_Amount', drop_original=False, add_weight=True)

In [39]:
emi_bins    = [0, 20, 50, 100, 200, 400, np.inf] 
emi_labels  = ['0-20', '21-50', '51-100', '101-200', '201-400', '400+']
emi_pesos = {
    '0-20': 10, 
    '21-50': 8, 
    '51-100': 6, 
    '101-200': 4, 
    '201-400': 2, 
    '401+': 0
    }

def emi_por_mes(df, col='Total_EMI_per_month',
                 drop_original=False, keep_numeric=True, add_weight=True):
    out = df.copy()

    s = pd.to_numeric(out[col], errors='coerce').mask(lambda x: x < 0)

    if keep_numeric:
        out[col + '_num'] = s

    out['Total_EMI_per_month_Bin'] = pd.cut(
        s, bins=emi_bins, labels=emi_labels,
        right=False, include_lowest=True
    ).astype('category')

    out['Total_EMI_per_month_Bin'] = out['Total_EMI_per_month_Bin'].cat.add_categories(['Missing'])
    out.loc[s.isna(), 'Total_EMI_per_month_Bin'] = 'Missing'

    if add_weight:
        wmap = {**emi_pesos, 'Missing': pd.NA}
        out['Total_EMI_per_month_Pesos'] = out['Total_EMI_per_month_Bin'].map(wmap).astype('Int64')

    if drop_original:
        out = out.drop(columns=[col])

    return out

In [40]:
x_train = emi_por_mes(x_train, col='Total_EMI_per_month', drop_original=False)
x_test  = emi_por_mes(x_test,  col='Total_EMI_per_month', drop_original=False)

In [41]:
inversion_bins = [0, 50, 150, 400, 600, np.inf]
inversion_labels = ['0-50','51-150', '151-400', '401-600', '600+']
inversion_pesos = {
    '0-50': 0,
    '51-150': 5,
    '151-400': 10,
    '401-600': 12,
    '600+': 15
}

def inversion_por_mes(df, col='Amount_invested_monthly', drop_original=False, add_weight=True, keep_numeric=True):
    out = df.copy()
    s = pd.to_numeric(out[col], errors='coerce').mask(lambda x: x < 0)

    if keep_numeric:
        out[col + '_num'] = s.round().astype('Int64')

    out['Amount_invested_monthly_Bin'] = pd.cut(
        s, bins=inversion_bins, labels=inversion_labels,
        right=False, include_lowest=True
    ).astype('category')

    out['Amount_invested_monthly_Bin'] = out['Amount_invested_monthly_Bin'].cat.add_categories(['Missing'])
    out.loc[s.isna(), 'Amount_invested_monthly_Bin'] = 'Missing'

    if add_weight:
        out['Amount_invested_monthly_Pesos'] = out['Amount_invested_monthly_Bin'].map(ratio_credit_pesos).astype('Int64')
        out.loc[out['Amount_invested_monthly_Bin'].eq('Missing'), 'Amount_invested_monthly_Pesos'] = pd.NA

    if drop_original:
        out = out.drop(columns=[col])
    
    return out

In [42]:
x_train = inversion_por_mes(x_train, col='Amount_invested_monthly', drop_original=False)
x_test  = inversion_por_mes(x_test,  col='Amount_invested_monthly', drop_original=False)

In [43]:
p = re.compile(
    r'^(high|low)\s*[_ -]*spent\s*[_ -]*(small|medium|large)\s*[_ -]*value\s*[_ -]*payments$',
    flags=re.IGNORECASE
)

def paymont_normalizar(x: str) -> str:
    if pd.isna(x) or str(x).strip().lower() in {'', 'na', 'nan'}:
        return 'Missing'
    t = str(x).strip()
    m = p.match(t)
    if not m:
        
        return 'Missing'
    
    spent = 'High' if m.group(1).lower() == 'high' else 'Low'
    size  = {'small':'Small','medium':'Medium','large':'Large'}[m.group(2).lower()]
    
    return f'{spent}_spent_{size}_value_payments'


cat_pagos = [
    'Low_spent_Small_value_payments',
    'Low_spent_Medium_value_payments',
    'Low_spent_Large_value_payments',
    'High_spent_Small_value_payments',
    'High_spent_Medium_value_payments',
    'High_spent_Large_value_payments',
    'Missing'
]
cat_pagos_pesos = {
    'Low_spent_Small_value_payments':   35,
    'Low_spent_Medium_value_payments':  30,
    'Low_spent_Large_value_payments':   25,
    'High_spent_Small_value_payments':  20,
    'High_spent_Medium_value_payments': 15,
    'High_spent_Large_value_payments':   3,
    'Missing': 0
}

def pagos_tipo(df, col='Payment_Behaviour',
                          drop_original=False, add_weight=True, one_hot=False):
    out = df.copy()

    out['Payment_Behaviour_Bin'] = out[col].apply(paymont_normalizar)
    out['Payment_Behaviour_Bin'] = out['Payment_Behaviour_Bin'].astype(
        CategoricalDtype(categories=cat_pagos, ordered=False)
    )

    if add_weight:
        out['Payment_Behaviour_Pesos'] = out['Payment_Behaviour_Bin'].map(cat_pagos_pesos).astype('Float64')

    if one_hot:
        d = pd.get_dummies(out['Payment_Behaviour_Bin'].astype(str),
                           prefix='paybeh', dtype='int8')
        out = pd.concat([out, d], axis=1)

    if drop_original:
        out = out.drop(columns=[col])

    return out

In [44]:
x_train = pagos_tipo(x_train, col='Payment_Behaviour', drop_original=False, add_weight=True, one_hot=False)
x_test  = pagos_tipo(x_test,  col='Payment_Behaviour', drop_original=False, add_weight=True, one_hot=False)

In [45]:
balance_mensual_bins = [0, 100, 350, 700, 900, 1300, np.inf]
balance_mensual_labels = ['0-100','101-350', '351-700', '701-900', '901-1300', '1300+']
balance_mensual_pesos = {
    '0-100': 0,
    '101-350': 2,
    '351-700': 3,
    '701-900': 5,
    '901-1300': 8,
    '1300+': 10
}

def balance_mensual(df, col='Monthly_Balance', drop_original=False, add_weight=True, keep_numeric=True):
    out = df.copy()
    s = pd.to_numeric(out[col], errors='coerce').mask(lambda x: x < 0)

    if keep_numeric:
        out[col + '_num'] = s.round().astype('Int64')

    out['Monthly_Balance_bin'] = pd.cut(
        s, bins=balance_mensual_bins, labels=balance_mensual_labels,
        right=False, include_lowest=True
    ).astype('category')

    out['Monthly_Balance_bin'] = out['Monthly_Balance_bin'].cat.add_categories(['Missing'])
    out.loc[s.isna(), 'Monthly_Balance_bin'] = 'Missing'

    if add_weight:
        wmap = {**balance_mensual_pesos, 'Missing': pd.NA}
        out['Monthly_Balance_Pesos'] = out['Monthly_Balance_bin'].map(wmap).astype('Int64')

    if drop_original:
        out = out.drop(columns=[col])
    
    return out

In [46]:
x_train = balance_mensual(x_train, col='Monthly_Balance')
x_test  = balance_mensual(x_test,  col='Monthly_Balance')

In [47]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, f1_score, classification_report, ConfusionMatrixDisplay
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer
from itertools import product
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [117]:
def only_weights(X: pd.DataFrame) -> pd.DataFrame:
    # Toma todas las columnas que representan contribuciones de puntos/pesos
    cols = [c for c in X.columns if re.search(r'(?i)(?:_peso|_pesos|_points|_puntos)$', c)]
    # excepciones que ya mencionaste que existen en tu cÃ³digo
    if 'Income_pesos' in X.columns: cols.append('Income_pesos')
    if 'Peso_edades'  in X.columns: cols.append('Peso_edades')
    # quita duplicados, asegura numÃ©rico y NaN->0
    Xw = X[sorted(set(cols))].apply(pd.to_numeric, errors='coerce').fillna(0)
    return Xw

# Construye matrices de contribuciones para train/test con mismas columnas
Xw_train = only_weights(x_train)
Xw_test  = only_weights(x_test).reindex(columns=Xw_train.columns, fill_value=0)

score_tr = Xw_train.sum(axis=1).rename("score")
score_te = Xw_test.sum(axis=1).rename("score")

etiquetas = ["poor", "standard", "good"] 

def classify_score(s: pd.Series) -> pd.Categorical:
    labels = np.select(
        condlist=[s < 260, s > 455],
        choicelist=["poor", "good"],
        default="standard"
    )
    return pd.Categorical(labels, categories=etiquetas, ordered=True)

y_pred_tr = classify_score(score_tr)
y_pred_te = classify_score(score_te)

# (Optionnel) aperÃ§u
print("RÃ©partition TRAIN:\n", pd.Series(y_pred_tr).value_counts(dropna=False))
print("\nRÃ©partition TEST:\n", pd.Series(y_pred_te).value_counts(dropna=False))

RÃ©partition TRAIN:
 standard    6450
poor        2362
good          29
Name: count, dtype: int64

RÃ©partition TEST:
 standard    1594
poor         612
good           5
Name: count, dtype: int64

In [118]:
y_tr_true = y_train.copy()
y_te_true = y_test.copy()


y_tr_true = y_tr_true.astype("category")
y_te_true = y_te_true.astype("category")

In [119]:
from sklearn.metrics import accuracy_score, precision_recall_fscore_support, classification_report, confusion_matrix
labels_order = etiquetas  


tr_true = y_tr_true.astype(str)
tr_pred = y_pred_tr.astype(str)
te_true = y_te_true.astype(str)
te_pred = y_pred_te.astype(str)

print("=== TRAIN ===")
print("Accuracy:", accuracy_score(tr_true, tr_pred))
p, r, f1, _ = precision_recall_fscore_support(tr_true, tr_pred, labels=labels_order, zero_division=0, average=None)
for lab, pi, ri, fi in zip(labels_order, p, r, f1):
    print(f"{lab}: precision={pi:.3f} recall={ri:.3f} f1={fi:.3f}")
print("\nRapport (train):\n", classification_report(tr_true, tr_pred, labels=labels_order, zero_division=0))

print("\n=== TEST ===")
print("Accuracy:", accuracy_score(te_true, te_pred))
p, r, f1, _ = precision_recall_fscore_support(te_true, te_pred, labels=labels_order, zero_division=0, average=None)
for lab, pi, ri, fi in zip(labels_order, p, r, f1):
    print(f"{lab}: precision={pi:.3f} recall={ri:.3f} f1={fi:.3f}")
print("\nRapport (test):\n", classification_report(te_true, te_pred, labels=labels_order, zero_division=0))


def cm_df(y_true_str, y_pred_str, labels):
    cm = confusion_matrix(y_true_str, y_pred_str, labels=labels)
    return pd.DataFrame(cm, index=[f"true_{l}" for l in labels], columns=[f"pred_{l}" for l in labels])

print("\nMatrice de confusion â€” TRAIN")
display(cm_df(tr_true, tr_pred, labels_order))

print("\nMatrice de confusion â€” TEST")
display(cm_df(te_true, te_pred, labels_order))

=== TRAIN ===
Accuracy: 0.5943897749123402
poor: precision=0.579 recall=0.524 f1=0.550
standard: precision=0.600 recall=0.800 f1=0.685
good: precision=0.724 recall=0.015 f1=0.029

Rapport (train):
               precision    recall  f1-score   support

        poor       0.58      0.52      0.55      2608
    standard       0.60      0.80      0.69      4836
        good       0.72      0.02      0.03      1397

    accuracy                           0.59      8841
   macro avg       0.63      0.45      0.42      8841
weighted avg       0.61      0.59      0.54      8841


=== TEST ===
Accuracy: 0.6024423337856174
poor: precision=0.588 recall=0.552 f1=0.570
standard: precision=0.607 recall=0.800 f1=0.690
good: precision=0.800 recall=0.011 f1=0.023

Rapport (test):
               precision    recall  f1-score   support

        poor       0.59      0.55      0.57       652
    standard       0.61      0.80      0.69      1210
        good       0.80      0.01      0.02       349

    accuracy                           0.60      2211
   macro avg       0.67      0.45      0.43      2211
weighted avg       0.63      0.60      0.55      2211


Matrice de confusion â€” TRAIN

               pred_poor  pred_standard  pred_good
true_poor           1367           1241          0
true_standard        961           3867          8
true_good             34           1342         21

Matrice de confusion â€” TEST

               pred_poor  pred_standard  pred_good
true_poor            360            292          0
true_standard        241            968          1
true_good             11            334          4